*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: blue;
}
.body{
    width: 100vh;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink; 
}
#put{
        display: grid;
}